$brand-white: #FFFF;
$brand-purple: #940CFF;
$brand-black: #232938;
$brand-font: 'Josefin Sans', sans-serif;

.navbar{
    position: fixed;
    top: 0;
    height: 96px;
    width: 100%;
    background-color: $brand-white;
    z-index: 9999;

    .logo{
        position: absolute;
        top: 16.7%;
        left: 10%;
        transform: scale(0.25);
        transform-origin: top left;
    }

    .navbar-items{
        position: absolute;
        top: 25%;
        left: 37%;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 15px;

        text-align: center;
        font-family: $brand-font;
        font-size: 1rem;
        font-weight: 500;
        font-style: normal;
        list-style-type: none;
        color: $brand-black;

        .nav-item {
            margin-right: 3rem;

            .nav-link {
              color: $brand-black;
              text-decoration: none;
            }
        }
    }

    .navbar-btns{
        position: absolute;
        top: 20.8%;
        left: 70%;

        .nav-btn{
            font-size: 1rem;
            font-weight: 700;
            font-style: normal;
            line-height: 1rem;
            letter-spacing: 0.02em;
            font-family: $brand-font;

            padding: 20px 48px;
            border-radius: 100px;
            margin-right: 10px;

            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            // On hover, darken the background color
            &:hover {
                background-color: darken($brand-purple, 10%);
                color: $brand-white;
            }
        }

        .login-btn{
            background-color: $brand-white;
            border: 1px solid $brand-purple;
            color: $brand-purple;
        }

        .sign-up-btn{
            background-color: $brand-purple;
            border: none;
            color: $brand-white;
        }
    }

    .navbar-toggler{
        background: transparent;
        border: none;
        position: absolute;
        top: 40%;
        left: 80%;

    }
}

.navbar-toggler{
    display: none;
}

// for 1024px laptop screens
@media screen and (max-width: 1024px){
    .navbar{
        .navbar-btns{
            .nav-btn{
                padding: 20px 34px;
            }
        }
    }
}

// for tablet screens
@media screen and (max-width: 768px){
    .navbar{
        .logo{
            left: 5%;
        }

        .navbar-toggler{
            display: flex;
            left: 90%;
        }

        .navbar-collapse{
            position: fixed;
            top: 96px;
            right: -100%;
            transition: right 0.3s ease-out;

            width: 80%;
            height: 100%;
            background-color: $brand-white;
            border-top: solid 2px $brand-purple;

            &.open {
                right: 0;
            }

            .navbar-items{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                top: 0%;
                left: 0%;

                .nav-item {
                    margin-right: 0rem;
                    margin-bottom: 2rem;
                }
            }

            .navbar-btns{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                width: 90%;

                left: 15px;
                margin-top: 2rem;
                border-top: solid 1px lighten($brand-black, 50%);
                padding-top: 2rem;

                .nav-btn{
                    padding: 10px 24px;
                }
            }
        }

    }
}

// for mobile screens
@media screen and (max-width: 480px){
    .navbar{
        .navbar-toggler{
            left: 85%;
        }
    }
}


