<section class="hero-section">
    <img class="hero-section-bg" src="assets/images/hero-section-bg.jpg" aria-label="Hero section image">
    <div class="hero-content">
        <h1 class="tagline">Market your <span>Music</span><br/>the right way</h1>
        <p class="smaller-tagline">Distribute, market, promote and grow organically. Get to understand the music business and keep all your royalties.</p>
        <button class="get-started-btn" type="button">get started</button>
    </div>
</section>




