<div class="page-content">
    <div class="about-us">
        <section class="about-us-content">
            <h1>About us</h1>
            <p>
                BlvckTunes is an online Indie Record Label/Music distributor and Talent Management Agency. At Blvck we help artist particularly underground {{'{both Gospel and Non-gospel}'}}' artists find their voice. By helping them promote, market, distribute and sell their music and brand.
            </p>
            <button class="get-started-btn" type="button">get started</button>
        </section>
        <img class="about-us-image" src="assets/images/about-us-img.jpg" aria-label="About us image">
    </div>
    <div class="why-blvcktunes">
        <img class="why-blvcktunes-image" src="assets/images/why-blvcktunes-img.png" aria-label="Why Blvcktunes image">
        <section class="why-blvcktunes-content">
            <h1>Why Blvcktunes</h1>
            <ul>
                <li>
                    <img class="item-icon" src="assets/images/gift-icon.jpg" aria-label="Gift icon">
                    <section class="item-description">
                        <h1>music distribution</h1>
                        <p>
                            You are an artist and your music is not on all major streaming platforms 😱. Get your music to various streaming platforms and keep 100% royalties.
                        </p>
                    </section>
                </li>
                <li>
                    <img class="item-icon" src="assets/images/like-icon.jpg" aria-label="Like icon">
                    <section class="item-description">
                        <h1>Music business education</h1>
                        <p>
                            If you want to know and understand the business side of the music we got you covered.
                        </p>
                    </section>
                </li>
                <li>
                    <img class="item-icon" src="assets/images/send-icon.jpg" aria-label="Send icon">
                    <section class="item-description">
                        <h1>music promotion and playlisting</h1>
                        <p>
                            Social media ads are too complicated or playlist placement too hard to attain Blvcktunes got you.
                        </p>
                    </section>
                </li>
                <li>
                    <img class="item-icon" src="assets/images/like-icon.jpg" aria-label="Like icon">
                    <section class="item-description">
                        <h1>live events and touring</h1>
                        <p>
                            Need a team to help set up your first event or tour. Contact us.
                        </p>
                    </section>
                </li>
                <li>
                    <img class="item-icon" src="assets/images/gift-icon.jpg" aria-label="Gift icon">
                    <section class="item-description">
                        <h1>tiktok campaigns</h1>
                        <p>
                            TikTok is the new radio and discovery tool. So let's get influencers dancing to your tune.
                        </p>
                    </section>
                </li>
            </ul>
        </section>
    </div>
</div>
