<div class="page-content">
    <div class="about-us">
        <section class="about-us-content">
            <h1>About us</h1>
            <p>
                BlvckTunes is an online Indie Record Label/Music distributor and Talent Management Agency. At Blvck we help artist particularly underground {{'{both Gospel and Non-gospel}'}}' artists find their voice. By helping them promote, market, distribute and sell their music and brand.
            </p>
            <button class="get-started-btn" type="button">get started</button>
        </section>
        <img class="about-us-image" src="assets/images/about-us-img.jpg" aria-label="About us image">
    </div>
</div>
